<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/a7523498a1.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Animaux à adopter</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Adopt'Animaux</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container my-5 col-md-10">
    <h2 class="mb-4">Liste des animaux disponibles à l'adoption</h2>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Espèce</th>
            <th scope="col">Âge</th>
            <th scope="col">Image</th>
            <th scope="col">Adopté</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${animaux}">
            <td th:text="${a.id}"></td>
            <td th:text="${a.name}"></td>
            <td th:text="${a.species}"></td>
            <td th:text="${a.age} + ' ans'"></td>
            <td>
                <img th:src="${a.image}" alt="animal" style="width: 100px; height: auto;">
            </td>
            <td>
                <span th:text="${a.adopted} ? 'Oui' : 'Non'"></span>
            </td>
            <td>
                <a th:href="@{/animal/{id}(id=${a.id})}" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-eye"></i> Voir
                </a>
                <a th:href="@{/adopter/{id}(id=${a.id})}" class="btn btn-success btn-sm"
                   th:classappend="${a.adopted} ? ' disabled' : ''">
                    <i class="fa-solid fa-heart"></i> Adopter
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
